.main-chat
  .main-chat__group-info
    .main-chat__group-info__third-items
      %p.main-chat__group-info__third-items__group-name test
      %p.main-chat__group-info__third-items__member Member :thiem
      = link_to 'edit', "#", class: "main-chat__group-info__third-items__edit-btn"
  .main-chat__message-list
  .main-chat__message-form