.main-chat
  .main-chat__group-info
    .main-chat__group-info__third-items
      .main-chat__group-info__third-items__left
        %p.main-chat__group-info__third-items__left__group-name test
        %p.main-chat__group-info__third-items__left__member Member : thiem
      .main-chat__group-info__third-items__right
        = link_to 'Edit',"#", class: "main-chat__group-info__third-items__right__edit-btn" 
  .main-chat__message-list
    .main-chat__message-list__forth-items
      .main-chat__message-list__forth-items__upper
        %p.main-chat__message-list__forth-items__upper__name thiem
        %p.main-chat__message-list__forth-items__upper__time 2020年06月25日 17時00分
      .main-chat__message-list__forth-items__lower
        %p.main-chat__message-list__forth-items__lower__message nishikori
      .main-chat__message-list__forth-items__upper
        %p.main-chat__message-list__forth-items__upper__name thiem
        %p.main-chat__message-list__forth-items__upper__time 2020年06月25日 17時01分
      .main-chat__message-list__forth-items__lower
        %p.main-chat__message-list__forth-items__lower__message shapo
  .main-chat__message-form
    .main-chat__message-form__fifth-items
      .main-chat__message-form__fifth-items__content
        %input.main-chat__message-form__fifth-items__content__text{name: "text", placeholder: "type a message"}
        %label{class: "main-chat__message-form__fifth-items__content__image"}
          = icon('far', 'image')
          %input{type: "file" ,class: "main-chat__message-form__fifth-items__content__image__file"}
      = link_to 'Send', "#", class: "main-chat__message-form__fifth-items__send-btn"  